body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    margin: 20px;
}

.logo {
    width: 100px;
    height: auto;
}

h1 {
    font-size: 3rem;
    color: #d4af37; /* Couleur or */
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #2c2c2c;
}

thead {
    background-color: #3e3e3e;
}

thead th {
    padding: 10px;
    color: #d4af37;
    text-transform: uppercase;
    border-bottom: 2px solid #d4af37;
}

tbody td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #555;
}

tbody tr:hover {
    background-color: #3e3e3e;
}

tbody td:first-child {
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #252525;
}
/* Styles généraux pour l'arrière-plan */
body {
    font-family: Arial, sans-serif;
    background-image: url('images/Guild.PNG');
    background-size: cover; /* L'image couvre toute la page */
    background-repeat: no-repeat; /* Ne pas répéter l'image */
    background-position: center center; /* Centrer l'image */
    background-attachment: fixed; /* L'image reste fixe lors du défilement */
    color: #ffffff; /* Couleur du texte pour contraster avec l'image */
    margin: 0;
    padding: 0;
}
